xml_schema/tests/xml_schema/sunData/ElemDecl/identityConstraintDefs/idConstrDefs00201m/idConstrDefs00201m.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)idConstrDefs00201m.xsd
   generated from: @(#)idConstrDefs00201m.jmpp	1.3 03/10/10

-->

<xsd:schema
  xmlns="ElemDecl/identityConstraintDefs"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/identityConstraintDefs">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence maxOccurs="unbounded">
              <xsd:element name="Account" type="xsd:string"/>
              <xsd:element name="Name" type="xsd:string"/>
              <xsd:element name="Manager" type="xsd:string"/>
          </xsd:sequence>
      </xsd:complexType>
      <xsd:unique name="UNIQ">
          <xsd:selector xpath="./Name"/>
          <xsd:field xpath="."/>
      </xsd:unique>
      <xsd:key name="KEY">
          <xsd:selector xpath="./Account"/>
          <xsd:field xpath="."/>
      </xsd:key>
      <xsd:keyref name="KEYREF" refer="KEY">
          <xsd:selector xpath="./Manager"/>
          <xsd:field xpath="."/>
      </xsd:keyref>

  </xsd:element>

</xsd:schema>
