xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00104m/AD_name00104m1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00104m1.xsd
   generated from: @(#)AD_name00104m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="A00" type="xsd:integer"/>
            <xsd:attribute name="M01" type="xsd:integer"/>
            <xsd:attribute name="Z02" type="xsd:integer"/>
            <xsd:attribute name="a10" type="xsd:integer"/>
            <xsd:attribute name="d11" type="xsd:integer"/>
            <xsd:attribute name="h12" type="xsd:integer"/>
            <xsd:attribute name="j20" type="xsd:integer"/>
            <xsd:attribute name="r21" type="xsd:integer"/>
            <xsd:attribute name="z22" type="xsd:integer"/>
            <xsd:attribute name="À30" type="xsd:integer"/>
            <xsd:attribute name="Ë31" type="xsd:integer"/>
            <xsd:attribute name="Ö32" type="xsd:integer"/>
            <xsd:attribute name="Ø40" type="xsd:integer"/>
            <xsd:attribute name="Û41" type="xsd:integer"/>
            <xsd:attribute name="Þ42" type="xsd:integer"/>
            <xsd:attribute name="à50" type="xsd:integer"/>
            <xsd:attribute name="ë51" type="xsd:integer"/>
            <xsd:attribute name="ö52" type="xsd:integer"/>
            <xsd:attribute name="ø60" type="xsd:integer"/>
            <xsd:attribute name="û61" type="xsd:integer"/>
            <xsd:attribute name="ÿ62" type="xsd:integer"/>
            <xsd:attribute name="Ā70" type="xsd:integer"/>
            <xsd:attribute name="Ę71" type="xsd:integer"/>
            <xsd:attribute name="ı72" type="xsd:integer"/>
            <xsd:attribute name="Ĵ80" type="xsd:integer"/>
            <xsd:attribute name="Ĺ81" type="xsd:integer"/>
            <xsd:attribute name="ľ82" type="xsd:integer"/>
            <xsd:attribute name="Ł90" type="xsd:integer"/>
            <xsd:attribute name="ń91" type="xsd:integer"/>
            <xsd:attribute name="ň92" type="xsd:integer"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>

