xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00104m/AD_name00104m3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00104m3.xsd
   generated from: @(#)AD_name00104m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="ɶ00" type="xsd:integer"/>
            <xsd:attribute name="ɺ01" type="xsd:integer"/>
            <xsd:attribute name="ɿ02" type="xsd:integer"/>
            <xsd:attribute name="ʁ10" type="xsd:integer"/>
            <xsd:attribute name="ʔ11" type="xsd:integer"/>
            <xsd:attribute name="ʨ12" type="xsd:integer"/>
            <xsd:attribute name="ʻ20" type="xsd:integer"/>
            <xsd:attribute name="ʾ21" type="xsd:integer"/>
            <xsd:attribute name="ˁ22" type="xsd:integer"/>
            <xsd:attribute name="Ά30" type="xsd:integer"/>
            <xsd:attribute name="Έ40" type="xsd:integer"/>
            <xsd:attribute name="Ή41" type="xsd:integer"/>
            <xsd:attribute name="Ί42" type="xsd:integer"/>
            <xsd:attribute name="Ό50" type="xsd:integer"/>
            <xsd:attribute name="Ύ60" type="xsd:integer"/>
            <xsd:attribute name="Ύ61" type="xsd:integer"/>
            <xsd:attribute name="Ώ62" type="xsd:integer"/>
            <xsd:attribute name="Α70" type="xsd:integer"/>
            <xsd:attribute name="Ι71" type="xsd:integer"/>
            <xsd:attribute name="Ρ72" type="xsd:integer"/>
            <xsd:attribute name="Σ80" type="xsd:integer"/>
            <xsd:attribute name="Ω81" type="xsd:integer"/>
            <xsd:attribute name="ί82" type="xsd:integer"/>
            <xsd:attribute name="α90" type="xsd:integer"/>
            <xsd:attribute name="ο91" type="xsd:integer"/>
            <xsd:attribute name="ώ92" type="xsd:integer"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>

