xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00104m/AD_name00104m11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00104m11.xsd
   generated from: @(#)AD_name00104m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="ஜ00" type="xsd:integer"/>
            <xsd:attribute name="ஞ10" type="xsd:integer"/>
            <xsd:attribute name="ஞ11" type="xsd:integer"/>
            <xsd:attribute name="ட12" type="xsd:integer"/>
            <xsd:attribute name="ண20" type="xsd:integer"/>
            <xsd:attribute name="ண21" type="xsd:integer"/>
            <xsd:attribute name="த22" type="xsd:integer"/>
            <xsd:attribute name="ந30" type="xsd:integer"/>
            <xsd:attribute name="ன31" type="xsd:integer"/>
            <xsd:attribute name="ப32" type="xsd:integer"/>
            <xsd:attribute name="ம40" type="xsd:integer"/>
            <xsd:attribute name="ற41" type="xsd:integer"/>
            <xsd:attribute name="வ42" type="xsd:integer"/>
            <xsd:attribute name="ஷ50" type="xsd:integer"/>
            <xsd:attribute name="ஸ51" type="xsd:integer"/>
            <xsd:attribute name="ஹ52" type="xsd:integer"/>
            <xsd:attribute name="అ60" type="xsd:integer"/>
            <xsd:attribute name="ఈ61" type="xsd:integer"/>
            <xsd:attribute name="ఌ62" type="xsd:integer"/>
            <xsd:attribute name="ఎ70" type="xsd:integer"/>
            <xsd:attribute name="ఏ71" type="xsd:integer"/>
            <xsd:attribute name="ఐ72" type="xsd:integer"/>
            <xsd:attribute name="ఒ80" type="xsd:integer"/>
            <xsd:attribute name="ఝ81" type="xsd:integer"/>
            <xsd:attribute name="న82" type="xsd:integer"/>
            <xsd:attribute name="ప90" type="xsd:integer"/>
            <xsd:attribute name="మ91" type="xsd:integer"/>
            <xsd:attribute name="ళ92" type="xsd:integer"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>

