xml_schema/tests/xml_schema/sunData/MGroupDef/annotation/annotation00101m/annotation00101m6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)annotation00101m6.xsd
   generated from: @(#)annotation00101m.jmpp	1.4 02/11/19

-->

<xsd:schema
  xmlns="MGroupDef/annotation"
  xmlns:jt="JavaTest"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="MGroupDef/annotation">
  
     <xsd:element name="root"/>
  
     <xsd:complexType name="A">
          <xsd:group ref="G1"/>
     </xsd:complexType>

     <xsd:group name="G1">
          <xsd:all>
               <xsd:element name="c" type="xsd:int" />
               <xsd:element name="date" type="xsd:date" />
          </xsd:all>
          <xsd:annotation>
              <xsd:appinfo>
                  <jt:keywords>runtime positive</jt:keywords>
              </xsd:appinfo>
          </xsd:annotation>
     </xsd:group>

</xsd:schema>
