xml_schema/tests/xml_schema/sunData/CType/baseTD/baseTD00101m/baseTD00101m2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)baseTD00101m2.xsd
   generated from: @(#)baseTD00101m.jmpp	1.1 02/04/02

-->


<xsd:schema
  xmlns="baseTD"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="baseTD">
     <xsd:element name="root" type="Test"/>

     <xsd:complexType name="Test">
          <xsd:simpleContent>
             <xsd:extension base='Test2'/>
          </xsd:simpleContent>
     </xsd:complexType>


     <xsd:complexType name="Test2">
          <xsd:simpleContent>
               <xsd:extension base="xsd:int"/>
          </xsd:simpleContent>
     </xsd:complexType>
</xsd:schema>

