xml_schema/tests/xml_schema/sunData/SType/ST_facets/ST_facets00501m/ST_facets00501m10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)ST_facets00501m10.xsd
   generated from: @(#)ST_facets00501m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00ପ"/>
            <xsd:enumeration value="a0-ଭ"/>
            <xsd:enumeration value="a0Aର"/>
            <xsd:enumeration value="a10ଲ"/>
            <xsd:enumeration value="a1-ଲ"/>
            <xsd:enumeration value="a1Aଳ"/>
            <xsd:enumeration value="a20ଶ"/>
            <xsd:enumeration value="a2-ଷ"/>
            <xsd:enumeration value="a2Aହ"/>
            <xsd:enumeration value="a30ଽ"/>
            <xsd:enumeration value="a40ଡ଼"/>
            <xsd:enumeration value="a4-ଡ଼"/>
            <xsd:enumeration value="a4Aଢ଼"/>
            <xsd:enumeration value="a50ୟ"/>
            <xsd:enumeration value="a5-ୠ"/>
            <xsd:enumeration value="a5Aୡ"/>
            <xsd:enumeration value="a60அ"/>
            <xsd:enumeration value="a6-இ"/>
            <xsd:enumeration value="a6Aஊ"/>
            <xsd:enumeration value="a70எ"/>
            <xsd:enumeration value="a7-ஏ"/>
            <xsd:enumeration value="a7Aஐ"/>
            <xsd:enumeration value="a80ஒ"/>
            <xsd:enumeration value="a8-ஓ"/>
            <xsd:enumeration value="a8Aக"/>
            <xsd:enumeration value="a90ங"/>
            <xsd:enumeration value="a9-ங"/>
            <xsd:enumeration value="a9Aச"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
