xml_schema/tests/xml_schema/sunData/SType/ST_facets/ST_facets00501m/ST_facets00501m12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)ST_facets00501m12.xsd
   generated from: @(#)ST_facets00501m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00వ"/>
            <xsd:enumeration value="a0-ష"/>
            <xsd:enumeration value="a0Aహ"/>
            <xsd:enumeration value="a10ౠ"/>
            <xsd:enumeration value="a1-ౠ"/>
            <xsd:enumeration value="a1Aౡ"/>
            <xsd:enumeration value="a20ಅ"/>
            <xsd:enumeration value="a2-ಈ"/>
            <xsd:enumeration value="a2Aಌ"/>
            <xsd:enumeration value="a30ಎ"/>
            <xsd:enumeration value="a3-ಏ"/>
            <xsd:enumeration value="a3Aಐ"/>
            <xsd:enumeration value="a40ಒ"/>
            <xsd:enumeration value="a4-ಝ"/>
            <xsd:enumeration value="a4Aನ"/>
            <xsd:enumeration value="a50ಪ"/>
            <xsd:enumeration value="a5-ಮ"/>
            <xsd:enumeration value="a5Aಳ"/>
            <xsd:enumeration value="a60ವ"/>
            <xsd:enumeration value="a6-ಷ"/>
            <xsd:enumeration value="a6Aಹ"/>
            <xsd:enumeration value="a70ೞ"/>
            <xsd:enumeration value="a80ೠ"/>
            <xsd:enumeration value="a8-ೠ"/>
            <xsd:enumeration value="a8Aೡ"/>
            <xsd:enumeration value="a90അ"/>
            <xsd:enumeration value="a9-ഈ"/>
            <xsd:enumeration value="a9Aഌ"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
