xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00110m/AD_name00110m9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00110m9.xsd
   generated from: @(#)AD_name00110m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00A༹" type="xsd:string"/>
            <xsd:attribute name="str01A༾" type="xsd:string"/>
            <xsd:attribute name="str02A༿" type="xsd:string"/>
            <xsd:attribute name="str03Aཱ" type="xsd:string"/>
            <xsd:attribute name="str13-ེ" type="xsd:string"/>
            <xsd:attribute name="str23྄" type="xsd:string"/>
            <xsd:attribute name="str04A྆" type="xsd:string"/>
            <xsd:attribute name="str14-྆" type="xsd:string"/>
            <xsd:attribute name="str24྇" type="xsd:string"/>
            <xsd:attribute name="str05Aྐ" type="xsd:string"/>
            <xsd:attribute name="str15-ྒ" type="xsd:string"/>
            <xsd:attribute name="str25ྕ" type="xsd:string"/>
            <xsd:attribute name="str06Aྗ" type="xsd:string"/>
            <xsd:attribute name="str07Aྙ" type="xsd:string"/>
            <xsd:attribute name="str17-ྣ" type="xsd:string"/>
            <xsd:attribute name="str27ྭ" type="xsd:string"/>
            <xsd:attribute name="str08Aྱ" type="xsd:string"/>
            <xsd:attribute name="str18-ྴ" type="xsd:string"/>
            <xsd:attribute name="str28ྷ" type="xsd:string"/>
            <xsd:attribute name="str09Aྐྵ" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
