xml_schema/tests/xml_schema/sunData/ElemDecl/substGroupAffilation/substGrpAffil00201m/substGrpAffil00201m.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)substGrpAffil00201m.xsd
   generated from: @(#)substGrpAffil00201m.jmpp	1.3 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/substGroupAffilation"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/substGroupAffilation"
  elementFormDefault="qualified">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="SuperSuperElement" maxOccurs="unbounded"/>
              <xsd:element name="Separator"/>
              <xsd:element ref="Element" maxOccurs="unbounded"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

  <xsd:element name="SuperSuperElement"/>
  <xsd:element name="SuperElement" substitutionGroup="SuperSuperElement"/>
  <xsd:element name="Element" substitutionGroup="SuperElement"/>
 
</xsd:schema>
