xml_schema/tests/xml_schema/sunData/ElemDecl/name/name00501m/name00501m6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)name00501m6.xsd
   generated from: @(#)name00501m.jmpp	1.3 02/08/22

-->

<xsd:schema
  xmlns="ElemDecl/name"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/name">

  <xsd:element name="root"/>

  <xsd:element name="Main" type="xsd:boolean"/>

  <xsd:element name="Global">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Main" fixed="true"/>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

</xsd:schema>
