xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00103m/AD_name00103m1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00103m1.xsd
   generated from: @(#)AD_name00103m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00A·" type="xsd:string"/>
            <xsd:attribute name="str01Aː" type="xsd:string"/>
            <xsd:attribute name="str02Aˑ" type="xsd:string"/>
            <xsd:attribute name="str03A·" type="xsd:string"/>
            <xsd:attribute name="str04Aـ" type="xsd:string"/>
            <xsd:attribute name="str05Aๆ" type="xsd:string"/>
            <xsd:attribute name="str06Aໆ" type="xsd:string"/>
            <xsd:attribute name="str07A々" type="xsd:string"/>
            <xsd:attribute name="str08A〱" type="xsd:string"/>
            <xsd:attribute name="str18-〳" type="xsd:string"/>
            <xsd:attribute name="str28〵" type="xsd:string"/>
            <xsd:attribute name="str09Aゝ" type="xsd:string"/>
            <xsd:attribute name="str19-ゝ" type="xsd:string"/>
            <xsd:attribute name="str29ゞ" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
