xml_schema/tests/xml_schema/sunData/ElemDecl/identityConstraintDefs/idConstrDefs00302m/idConstrDefs00302m.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)idConstrDefs00302m.xsd
   generated from: @(#)idConstrDefs00302m.jmpp	1.1 02/04/10

-->

<xsd:schema
  xmlns="ElemDecl/identityConstraintDefs"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/identityConstraintDefs">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
              <xsd:element name="Element">
                  <xsd:complexType>
                      <xsd:attribute name="ID" type="xsd:ID"/>
                      <xsd:attribute name="IDREF" type="xsd:IDREF"/>
                      <xsd:attribute name="IDREFS" type="xsd:IDREFS"/>
                  </xsd:complexType>
              </xsd:element>
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>

</xsd:schema>
