xml_schema/tests/xml_schema/sunData/MGroup/particles/particles00302m/particles00302m1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)particles00302m1.xsd
   generated from: @(#)particles00302m.jmpp	1.1 02/04/28

-->


<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="particles"
    targetNamespace="particles">

  <xsd:group name="G1">
    <xsd:sequence>
      <xsd:group ref="G2"/>
      <xsd:group ref="G3"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:group name="G2">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:group name="G3">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:element name="a">
    <xsd:complexType>
      <xsd:group ref="G1"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>

