xml_schema/tests/xml_schema/sunData/ElemDecl/valueConstraint/valueConstraint01101m/valueConstraint01101m1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)valueConstraint01101m1.xsd
   generated from: @(#)valueConstraint01101m.jmpp	1.2 02/09/06

-->

<xsd:schema
  xmlns="ElemDecl/valueConstraint"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/valueConstraint">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element name="Element" type="Float" fixed="0" />
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  
  <xsd:simpleType name="Float">
      <xsd:restriction base="xsd:float">
          <xsd:maxInclusive value="0"/>
      </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="derivedType">
      <xsd:restriction base="Float">
          <xsd:minInclusive value="0"/>
      </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
