xml_schema/tests/xml_schema/sunData/AttrDecl/AD_type/AD_type00102m/AD_type00102m.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_type00102m.xsd
   generated from: @(#)AD_type00102m.jmpp	1.4 02/12/09

-->


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="AttrDecl/type"
	xmlns:tn="AttrDecl/type">

	<xsd:element name="root">
	  <xsd:complexType>
	    <xsd:sequence>
	      <xsd:element ref="tn:elementWithAttr"/>
	    </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

	<xsd:attribute name="number">
	      <xsd:simpleType>
               <xsd:restriction base="xsd:integer">
                <xsd:minExclusive value="0"/>
                <xsd:maxExclusive value="13"/>
               </xsd:restriction>
              </xsd:simpleType>
	</xsd:attribute>

	<xsd:element name="elementWithAttr">
	  <xsd:complexType>
	    <xsd:attribute ref="tn:number"/>
	    <xsd:attribute name="price" form="unqualified">
	      <xsd:simpleType>
               <xsd:restriction base="xsd:decimal">
                <xsd:minExclusive value="0.0"/>
                <xsd:maxExclusive value="13.0"/>
               </xsd:restriction>
              </xsd:simpleType>
	    </xsd:attribute>
	  </xsd:complexType>
	</xsd:element>
</xsd:schema>

