xml_schema/tests/xml_schema/sunData/CType/attrWildcard/attrWildcard00101m/attrWildcard00101m1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)attrWildcard00101m1.xsd
   generated from: @(#)attrWildcard00101m.jmpp	1.2 02/08/22

-->


<xsd:schema
  xmlns="attrWildcard"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="attrWildcard">

     <xsd:element name="a" type="A" />

     <xsd:complexType name="A">
          <xsd:sequence>
               <xsd:element name="b" type="xsd:int"/>
          </xsd:sequence>
          <xsd:anyAttribute processContents="lax" />
     </xsd:complexType>

</xsd:schema>

