xml_schema/tests/xml_schema/sunData/SType/ST_facets/ST_facets00401m/ST_facets00401m1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)ST_facets00401m1.xsd
   generated from: @(#)ST_facets00401m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="A00"/>
            <xsd:enumeration value="M-0"/>
            <xsd:enumeration value="Za0"/>
            <xsd:enumeration value="a01"/>
            <xsd:enumeration value="d-1"/>
            <xsd:enumeration value="ha1"/>
            <xsd:enumeration value="j02"/>
            <xsd:enumeration value="r-2"/>
            <xsd:enumeration value="za2"/>
            <xsd:enumeration value="À03"/>
            <xsd:enumeration value="Ë-3"/>
            <xsd:enumeration value="Öa3"/>
            <xsd:enumeration value="Ø04"/>
            <xsd:enumeration value="Û-4"/>
            <xsd:enumeration value="Þa4"/>
            <xsd:enumeration value="à05"/>
            <xsd:enumeration value="ë-5"/>
            <xsd:enumeration value="öa5"/>
            <xsd:enumeration value="ø06"/>
            <xsd:enumeration value="û-6"/>
            <xsd:enumeration value="ÿa6"/>
            <xsd:enumeration value="Ā07"/>
            <xsd:enumeration value="Ę-7"/>
            <xsd:enumeration value="ıa7"/>
            <xsd:enumeration value="Ĵ08"/>
            <xsd:enumeration value="Ĺ-8"/>
            <xsd:enumeration value="ľa8"/>
            <xsd:enumeration value="Ł09"/>
            <xsd:enumeration value="ń-9"/>
            <xsd:enumeration value="ňa9"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
