xml_schema/tests/xml_schema/sunData/SType/ST_variety/ST_variety00101m/ST_variety00101m1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)ST_variety00101m1.xsd
   generated from: @(#)ST_variety00101m.jmpp	1.1 02/03/12

-->


<xsd:schema
  xmlns="ST_final"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ST_final">
     <xsd:element name="test" type="Test"/>


     <xsd:simpleType name="Test1">
          <xsd:restriction base="xsd:string">
               <xsd:pattern value="1*"/>
               <xsd:length value="2"/>
          </xsd:restriction>
     </xsd:simpleType>

     <xsd:simpleType name="Test">
          <xsd:restriction base="Test1">
               <xsd:length value="2"/>
          </xsd:restriction>
     </xsd:simpleType>


</xsd:schema>

