xml_schema/tests/xml_schema/sunData/AttrDecl/AD_targetNS/AD_targetNS00101m/AD_targetNS00101m.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_targetNS00101m.xsd
   generated from: @(#)AD_targetNS00101m.jmpp	1.5 02/12/26

-->

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tn="AttrDecl/targetNS"
	targetNamespace="AttrDecl/targetNS">

	<element name="root">
	  <complexType>
	    <sequence>
	      <element ref="tn:elementWithAttr"/>
	    </sequence>
          </complexType>
        </element>

	<element name="elementWithAttr">
	  <complexType>
	    <attribute name="number" type="integer"/>
	    <attribute name="price" type="decimal" form="qualified"/>
	  </complexType>
	</element>
</schema>

