xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00102m/AD_name00102m1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00102m1.xsd
   generated from: @(#)AD_name00102m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="一00" type="xsd:integer"/>
            <xsd:attribute name="盒01" type="xsd:integer"/>
            <xsd:attribute name="龥02" type="xsd:integer"/>
            <xsd:attribute name="〇10" type="xsd:integer"/>
            <xsd:attribute name="〡20" type="xsd:integer"/>
            <xsd:attribute name="〥21" type="xsd:integer"/>
            <xsd:attribute name="〩22" type="xsd:integer"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>

