xml_schema/tests/xml_schema/sunData/ElemDecl/valueConstraint/valueConstraint00501m/valueConstraint00501m6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)valueConstraint00501m6.xsd
   generated from: @(#)valueConstraint00501m.jmpp	1.3 03/10/10

-->

<xsd:schema
  xmlns="ElemDecl/valueConstraint"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/valueConstraint">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Element"/>	
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Element" type="Float" default="1.0E-3" />	

  <xsd:simpleType name="Float">
      <xsd:restriction base="xsd:float">
          <xsd:pattern value="...[Ee].."/>
      </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="derivedType">
      <xsd:restriction base="Float">
          <xsd:pattern value="1\.0[Ee]-2"/>
      </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
