xml_schema/tests/xml_schema/sunData/ElemDecl/typeDef/typeDef00802m/typeDef00802m2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)typeDef00802m2.xsd
   generated from: @(#)typeDef00802m.jmpp	1.5 02/12/24

-->

<xsd:schema
  xmlns="ElemDecl/typeDef"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/typeDef">

  <xsd:element name="root">
      <xsd:complexType>
          <xsd:sequence>
              <xsd:element ref="Element"/>	
          </xsd:sequence>
      </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Element" type="Type" block="restriction"/>	

  <xsd:simpleType name="Type">
      <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="1|0"/>
      </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="derivedType">
      <xsd:restriction base="Type">
          <xsd:pattern value="0"/>
      </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
