xml_schema/tests/xml_schema/sunData/SType/ST_facets/ST_facets00505m/ST_facets00505m3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)ST_facets00505m3.xsd
   generated from: @(#)ST_facets00505m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00॑"/>
            <xsd:enumeration value="a0-॒"/>
            <xsd:enumeration value="a0A॔"/>
            <xsd:enumeration value="a10ॢ"/>
            <xsd:enumeration value="a1-ॢ"/>
            <xsd:enumeration value="a1Aॣ"/>
            <xsd:enumeration value="a20ঁ"/>
            <xsd:enumeration value="a2-ং"/>
            <xsd:enumeration value="a2Aঃ"/>
            <xsd:enumeration value="a30়"/>
            <xsd:enumeration value="a40া"/>
            <xsd:enumeration value="a50ি"/>
            <xsd:enumeration value="a60ী"/>
            <xsd:enumeration value="a6-ূ"/>
            <xsd:enumeration value="a6Aৄ"/>
            <xsd:enumeration value="a70ে"/>
            <xsd:enumeration value="a7-ে"/>
            <xsd:enumeration value="a7Aৈ"/>
            <xsd:enumeration value="a80ো"/>
            <xsd:enumeration value="a8-ৌ"/>
            <xsd:enumeration value="a8A্"/>
            <xsd:enumeration value="a90ৗ"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
