xml_schema/tests/xml_schema/sunData/SType/ST_facets/ST_facets00505m/ST_facets00505m1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)ST_facets00505m1.xsd
   generated from: @(#)ST_facets00505m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="SType/ST_facets"
    targetNamespace="SType/ST_facets">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="value" type="S"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="S">
        <xsd:restriction base="xsd:NCName">
            <xsd:enumeration value="a00̀"/>
            <xsd:enumeration value="a0-̢"/>
            <xsd:enumeration value="a0Ä́"/>
            <xsd:enumeration value="a10͠"/>
            <xsd:enumeration value="a1-͠"/>
            <xsd:enumeration value="a1A͡"/>
            <xsd:enumeration value="a20҃"/>
            <xsd:enumeration value="a2-҄"/>
            <xsd:enumeration value="a2A҆"/>
            <xsd:enumeration value="a30֑"/>
            <xsd:enumeration value="a3-֙"/>
            <xsd:enumeration value="a3A֡"/>
            <xsd:enumeration value="a40֣"/>
            <xsd:enumeration value="a4-֮"/>
            <xsd:enumeration value="a4Aֹ"/>
            <xsd:enumeration value="a50ֻ"/>
            <xsd:enumeration value="a5-ּ"/>
            <xsd:enumeration value="a5Aֽ"/>
            <xsd:enumeration value="a60ֿ"/>
            <xsd:enumeration value="a70ׁ"/>
            <xsd:enumeration value="a7-ׁ"/>
            <xsd:enumeration value="a7Aׂ"/>
            <xsd:enumeration value="a80ׄ"/>
            <xsd:enumeration value="a90ً"/>
            <xsd:enumeration value="a9-َ"/>
            <xsd:enumeration value="a9Aْ"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
