xml_schema/tests/xml_schema/sunData/MGroupDef/modelGroup/modelGroup00102m/modelGroup00102m1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)modelGroup00102m1.xsd
   generated from: @(#)modelGroup00102m.jmpp	1.2 02/08/22

-->


<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="modelGroup"
  targetNamespace="modelGroup">

     <xsd:element name="a" type="xsd:string" />

     <xsd:group name="G1">
          <xsd:all>
               <xsd:element name="c" type="xsd:int" />
          </xsd:all>
          <xsd:all>
               <xsd:element name="date" type="xsd:date" />
          </xsd:all>
     </xsd:group>

</xsd:schema>

