xml_schema/tests/xml_schema/sunData/ElemDecl/typeDef/typeDef00403m/typeDef00403m.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)typeDef00403m.xsd
   generated from: @(#)typeDef00403m.jmpp	1.2 02/04/04

-->

<xsd:schema
  xmlns="ElemDecl/typeDef"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="ElemDecl/typeDef">

  <xsd:element name="root" type="ComplexType"/>

  <xsd:element name="Global" type="xsd:boolean"/>

  <xsd:element name="GlobalPreDefinedType" type="PreDefinedType"/>

  <xsd:simpleType name="PreDefinedType">
      <xsd:restriction base="xsd:boolean">
          <xsd:pattern value="1|true"/>
      </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="ComplexType">
      <xsd:sequence>
          <xsd:element ref="Global"/>
          <xsd:element ref="GlobalPreDefinedType"/>
          <xsd:element name="Local" type="xsd:decimal"/>
          <xsd:element name="LocalPreDefinedType" type="PreDefinedType"/>
          <xsd:element name="LocalInline">
              <xsd:simpleType>
                  <xsd:restriction base="xsd:boolean">
                      <xsd:pattern value="0|false"/>
                  </xsd:restriction>
              </xsd:simpleType>
          </xsd:element>
      </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
