xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00108m/AD_name00108m20.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00108m20.xsd
   generated from: @(#)AD_name00108m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00AὛ" type="xsd:string"/>
            <xsd:attribute name="str01AὝ" type="xsd:string"/>
            <xsd:attribute name="str02AὟ" type="xsd:string"/>
            <xsd:attribute name="str12-Ὦ" type="xsd:string"/>
            <xsd:attribute name="str22ώ" type="xsd:string"/>
            <xsd:attribute name="str03Aᾰ" type="xsd:string"/>
            <xsd:attribute name="str13-ᾰ" type="xsd:string"/>
            <xsd:attribute name="str23ᾱ" type="xsd:string"/>
            <xsd:attribute name="str04AᾸ" type="xsd:string"/>
            <xsd:attribute name="str14-Ᾱ" type="xsd:string"/>
            <xsd:attribute name="str24Ά" type="xsd:string"/>
            <xsd:attribute name="str05AῈ" type="xsd:string"/>
            <xsd:attribute name="str15-Έ" type="xsd:string"/>
            <xsd:attribute name="str25Ή" type="xsd:string"/>
            <xsd:attribute name="str06Aῐ" type="xsd:string"/>
            <xsd:attribute name="str16-ῐ" type="xsd:string"/>
            <xsd:attribute name="str26ῑ" type="xsd:string"/>
            <xsd:attribute name="str07AῘ" type="xsd:string"/>
            <xsd:attribute name="str17-Ῑ" type="xsd:string"/>
            <xsd:attribute name="str27Ί" type="xsd:string"/>
            <xsd:attribute name="str08Aῠ" type="xsd:string"/>
            <xsd:attribute name="str18-ῠ" type="xsd:string"/>
            <xsd:attribute name="str28ῡ" type="xsd:string"/>
            <xsd:attribute name="str09Aῥ" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
