xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00108m/AD_name00108m5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00108m5.xsd
   generated from: @(#)AD_name00108m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00AӐ" type="xsd:string"/>
            <xsd:attribute name="str10-ӝ" type="xsd:string"/>
            <xsd:attribute name="str20ӫ" type="xsd:string"/>
            <xsd:attribute name="str01AӮ" type="xsd:string"/>
            <xsd:attribute name="str11-ӱ" type="xsd:string"/>
            <xsd:attribute name="str21ӵ" type="xsd:string"/>
            <xsd:attribute name="str02AӸ" type="xsd:string"/>
            <xsd:attribute name="str12-Ӹ" type="xsd:string"/>
            <xsd:attribute name="str22ӹ" type="xsd:string"/>
            <xsd:attribute name="str03AԱ" type="xsd:string"/>
            <xsd:attribute name="str13-Ճ" type="xsd:string"/>
            <xsd:attribute name="str23Ֆ" type="xsd:string"/>
            <xsd:attribute name="str04Aՙ" type="xsd:string"/>
            <xsd:attribute name="str05Aա" type="xsd:string"/>
            <xsd:attribute name="str15-ճ" type="xsd:string"/>
            <xsd:attribute name="str25ֆ" type="xsd:string"/>
            <xsd:attribute name="str06Aא" type="xsd:string"/>
            <xsd:attribute name="str16-ם" type="xsd:string"/>
            <xsd:attribute name="str26ת" type="xsd:string"/>
            <xsd:attribute name="str07Aװ" type="xsd:string"/>
            <xsd:attribute name="str17-ױ" type="xsd:string"/>
            <xsd:attribute name="str27ײ" type="xsd:string"/>
            <xsd:attribute name="str08Aء" type="xsd:string"/>
            <xsd:attribute name="str18-ح" type="xsd:string"/>
            <xsd:attribute name="str28غ" type="xsd:string"/>
            <xsd:attribute name="str09Aف" type="xsd:string"/>
            <xsd:attribute name="str19-م" type="xsd:string"/>
            <xsd:attribute name="str29ي" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
