xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00108m/AD_name00108m10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00108m10.xsd
   generated from: @(#)AD_name00108m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00Aପ" type="xsd:string"/>
            <xsd:attribute name="str10-ଭ" type="xsd:string"/>
            <xsd:attribute name="str20ର" type="xsd:string"/>
            <xsd:attribute name="str01Aଲ" type="xsd:string"/>
            <xsd:attribute name="str11-ଲ" type="xsd:string"/>
            <xsd:attribute name="str21ଳ" type="xsd:string"/>
            <xsd:attribute name="str02Aଶ" type="xsd:string"/>
            <xsd:attribute name="str12-ଷ" type="xsd:string"/>
            <xsd:attribute name="str22ହ" type="xsd:string"/>
            <xsd:attribute name="str03Aଽ" type="xsd:string"/>
            <xsd:attribute name="str04Aଡ଼" type="xsd:string"/>
            <xsd:attribute name="str14-ଡ଼" type="xsd:string"/>
            <xsd:attribute name="str24ଢ଼" type="xsd:string"/>
            <xsd:attribute name="str05Aୟ" type="xsd:string"/>
            <xsd:attribute name="str15-ୠ" type="xsd:string"/>
            <xsd:attribute name="str25ୡ" type="xsd:string"/>
            <xsd:attribute name="str06Aஅ" type="xsd:string"/>
            <xsd:attribute name="str16-இ" type="xsd:string"/>
            <xsd:attribute name="str26ஊ" type="xsd:string"/>
            <xsd:attribute name="str07Aஎ" type="xsd:string"/>
            <xsd:attribute name="str17-ஏ" type="xsd:string"/>
            <xsd:attribute name="str27ஐ" type="xsd:string"/>
            <xsd:attribute name="str08Aஒ" type="xsd:string"/>
            <xsd:attribute name="str18-ஓ" type="xsd:string"/>
            <xsd:attribute name="str28க" type="xsd:string"/>
            <xsd:attribute name="str09Aங" type="xsd:string"/>
            <xsd:attribute name="str19-ங" type="xsd:string"/>
            <xsd:attribute name="str29ச" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
