xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00108m/AD_name00108m16.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00108m16.xsd
   generated from: @(#)AD_name00108m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00Aᄋ" type="xsd:string"/>
            <xsd:attribute name="str10-ᄋ" type="xsd:string"/>
            <xsd:attribute name="str20ᄌ" type="xsd:string"/>
            <xsd:attribute name="str01Aᄎ" type="xsd:string"/>
            <xsd:attribute name="str11-ᄐ" type="xsd:string"/>
            <xsd:attribute name="str21ᄒ" type="xsd:string"/>
            <xsd:attribute name="str02Aᄼ" type="xsd:string"/>
            <xsd:attribute name="str03Aᄾ" type="xsd:string"/>
            <xsd:attribute name="str04Aᅀ" type="xsd:string"/>
            <xsd:attribute name="str05Aᅌ" type="xsd:string"/>
            <xsd:attribute name="str06Aᅎ" type="xsd:string"/>
            <xsd:attribute name="str07Aᅐ" type="xsd:string"/>
            <xsd:attribute name="str08Aᅔ" type="xsd:string"/>
            <xsd:attribute name="str18-ᅔ" type="xsd:string"/>
            <xsd:attribute name="str28ᅕ" type="xsd:string"/>
            <xsd:attribute name="str09Aᅙ" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
