xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00108m/AD_name00108m15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00108m15.xsd
   generated from: @(#)AD_name00108m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00Aະ" type="xsd:string"/>
            <xsd:attribute name="str01Aາ" type="xsd:string"/>
            <xsd:attribute name="str11-າ" type="xsd:string"/>
            <xsd:attribute name="str21ຳ" type="xsd:string"/>
            <xsd:attribute name="str02Aຽ" type="xsd:string"/>
            <xsd:attribute name="str03Aເ" type="xsd:string"/>
            <xsd:attribute name="str13-ໂ" type="xsd:string"/>
            <xsd:attribute name="str23ໄ" type="xsd:string"/>
            <xsd:attribute name="str04Aཀ" type="xsd:string"/>
            <xsd:attribute name="str14-གྷ" type="xsd:string"/>
            <xsd:attribute name="str24ཇ" type="xsd:string"/>
            <xsd:attribute name="str05Aཉ" type="xsd:string"/>
            <xsd:attribute name="str15-ཙ" type="xsd:string"/>
            <xsd:attribute name="str25ཀྵ" type="xsd:string"/>
            <xsd:attribute name="str06Aᄀ" type="xsd:string"/>
            <xsd:attribute name="str07Aᄂ" type="xsd:string"/>
            <xsd:attribute name="str17-ᄂ" type="xsd:string"/>
            <xsd:attribute name="str27ᄃ" type="xsd:string"/>
            <xsd:attribute name="str08Aᄅ" type="xsd:string"/>
            <xsd:attribute name="str18-ᄆ" type="xsd:string"/>
            <xsd:attribute name="str28ᄇ" type="xsd:string"/>
            <xsd:attribute name="str09Aᄉ" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
