xml_schema/tests/xml_schema/sunData/AttrDecl/AD_name/AD_name00108m/AD_name00108m4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)AD_name00108m4.xsd
   generated from: @(#)AD_name00108m.jmpp	1.3 02/11/14

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="AttrDecl/name">

    <xsd:element name="root">
        <xsd:complexType>
            <xsd:attribute name="str00Aϐ" type="xsd:string"/>
            <xsd:attribute name="str10-ϓ" type="xsd:string"/>
            <xsd:attribute name="str20ϖ" type="xsd:string"/>
            <xsd:attribute name="str01AϢ" type="xsd:string"/>
            <xsd:attribute name="str11-ϩ" type="xsd:string"/>
            <xsd:attribute name="str21ϱ" type="xsd:string"/>
            <xsd:attribute name="str02AЁ" type="xsd:string"/>
            <xsd:attribute name="str12-І" type="xsd:string"/>
            <xsd:attribute name="str22Ќ" type="xsd:string"/>
            <xsd:attribute name="str03AЎ" type="xsd:string"/>
            <xsd:attribute name="str13-Ю" type="xsd:string"/>
            <xsd:attribute name="str23я" type="xsd:string"/>
            <xsd:attribute name="str04Aё" type="xsd:string"/>
            <xsd:attribute name="str14-і" type="xsd:string"/>
            <xsd:attribute name="str24ќ" type="xsd:string"/>
            <xsd:attribute name="str05Aў" type="xsd:string"/>
            <xsd:attribute name="str15-ѯ" type="xsd:string"/>
            <xsd:attribute name="str25ҁ" type="xsd:string"/>
            <xsd:attribute name="str06AҐ" type="xsd:string"/>
            <xsd:attribute name="str16-ҧ" type="xsd:string"/>
            <xsd:attribute name="str26ҿ" type="xsd:string"/>
            <xsd:attribute name="str07AӁ" type="xsd:string"/>
            <xsd:attribute name="str17-ӂ" type="xsd:string"/>
            <xsd:attribute name="str27ӄ" type="xsd:string"/>
            <xsd:attribute name="str08AӇ" type="xsd:string"/>
            <xsd:attribute name="str18-Ӈ" type="xsd:string"/>
            <xsd:attribute name="str28ӈ" type="xsd:string"/>
            <xsd:attribute name="str09AӋ" type="xsd:string"/>
            <xsd:attribute name="str19-Ӌ" type="xsd:string"/>
            <xsd:attribute name="str29ӌ" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
