xml_schema/tests/xml_schema/sunData/CType/pSubstitutions/pSubstitutions00104m/pSubstitutions00104m.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<!--
Ident: @(#)pSubstitutions00104m.xsd
   generated from: @(#)pSubstitutions00104m.jmpp	1.6 03/10/10

-->


<xsd:schema
  xmlns="pSubstitutions"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="pSubstitutions">

     <xsd:complexType name="A" block="#all">
          <xsd:sequence>
               <xsd:element name="c" type="xsd:int" maxOccurs="3"/>
          </xsd:sequence>
     </xsd:complexType>

     <xsd:element name="e" type="A" />

     <xsd:complexType name="B">
          <xsd:complexContent>
               <xsd:extension base="A">
                    <xsd:sequence>
                         <xsd:element name="d" type="xsd:date"/>
                    </xsd:sequence>
               </xsd:extension>
          </xsd:complexContent>
     </xsd:complexType>

     <xsd:complexType name="C">
          <xsd:complexContent>
               <xsd:restriction base="A">
                    <xsd:sequence>
                         <xsd:element name="c" type="xsd:int" maxOccurs="2"/>
                    </xsd:sequence>
               </xsd:restriction>
          </xsd:complexContent>
     </xsd:complexType>
</xsd:schema>

